* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;;
}

body {
    background-color: #88c4e6;
}

header {
    display: flex;
    justify-content: center;
    gap: .8em;
    background-color: #fcfefe;
    box-shadow: 0px 0px 10px black;
}

.logga {
    margin: .5em;
}

h1 {
    color: #88c4e6;
    font-size: 3em;
    margin-top: .15em;
    font-family: 'Amatic SC', sans-serif;
    text-shadow: 1px 1px 1px black;
}

